---
BasedOnStyle: LLVM
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
ColumnLimit: 1000
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Allman
PointerAlignment: Left
PenaltyBreakFunctionSignature: 0
IndentWidth: 4
UseTab: Never
TabWidth: 4
---

